{% extends 'base.html.twig' %}
{% trans_default_domain 'profile' %}

{% block title %}{{ 'edit.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.title'|trans }}</h1>
    <div class="form -row">
        {# {{ include('user/_form.html.twig', {'button_label': 'Update'}) }} #}

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}

        <button class="btn">{{ 'btn.update'|trans({}, 'commons') }}</button>
        {{ form_end(form) }}
        <a href="{{ path('app_user_index') }}">{{ 'btn.back'|trans({}, 'commons') }}</a>
    </div>
{% endblock %}
