{% extends 'base.html.twig' %}
{% trans_default_domain 'register' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title'|trans }}</h1>


    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password, {
            label: 'form.password'|trans({}, 'commons')
        }) }}
        {{ form_row(form.agreeTerms) }}

        <button type="submit" class="btn">{{ 'btn'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
