{% trans_default_domain 'admin' %}
{% extends 'base.html.twig' %}

{% block title %}{{ 'recent_users.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'recent_users.title'|trans }}</h1>

    {% if users %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'tab.name'|trans({}, 'commons') }}</th>
                <th>{{ 'tab.forname'|trans({}, 'commons') }}</th>
                <th>{{ 'tab.email'|trans({}, 'commons') }}</th>
                <th>{{ 'tab.actions'|trans({}, 'commons') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">{{ 'btn.show'|trans({}, 'commons') }}</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'btn.edit'|trans({}, 'commons') }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'recent_users.empty'|trans }}</p>
    {% endif %}
{% endblock %}
