{% trans_default_domain 'cart_content' %}
{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.title'|trans }}</h1>

    <div class="form">
        {{ include('contenu_panier/_form.html.twig', {'button_label': 'btn.update'|trans({}, 'commons')}) }}
        {{ include('contenu_panier/_delete_form.html.twig') }}
        <a href="{{ path('app_contenu_panier_index') }}">{{ 'btn.back'|trans({}, 'commons') }}</a>
    </div>
{% endblock %}
