<nav>
    <ul style="display: flex; list-style: none; gap: 20px">
        <li><a href="/">Accueil</a></li>
        <li><a href="{{ path('app_produit_index') }}">Produits</a></li>
        <li><a href="{{ path('app_contenu_panier_index') }}">Panier</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path('app_admin_recent_users') }}">Utilisateurs récents</a></li>
            <li><a href="{{ path('app_admin_users_panier') }}">Paniers actifs</a></li>
        {% endif %}
        <li style="margin-left: auto; display: flex; gap: 20px">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_profile') }}">Mon profil</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}">Se connecter</a>
            <a href="{{ path('app_register') }}">S'inscrire</a>
        {% endif %}
        </li>
    </ul>
</nav>