{% extends 'base.html.twig' %}

{% block title %}ContenuPanier index{% endblock %}

{% block body %}
    <h1>Paniers actif</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Numéro du panier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.userPanier.nom }} {{ panier.userPanier.prenom }}</td>
                {{ panier.userPanier.id }} {{ panier.id }}<br />
                <td>{{ panier.id }}</td>
                <td>
                    <a href="{{ path('app_admin_users_panier_show', {'id': panier.userPanier.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
