{% extends 'base.html.twig' %}
{% trans_default_domain 'admin' %}

{% block title %}{{ 'cart_content.title'|trans }} {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
    <h1>{{ 'cart_content.title'|trans }} {{ user.prenom }} {{ user.nom }}</h1>
    {% if contenu %}
        <table>
            <thead>
            <tr>
                <th>{{ 'tab.photo'|trans({}, 'commons') }}</th>
                <th>{{ 'tab.name'|trans({}, 'commons') }}</th>
                <th>{{ 'tab.price'|trans({}, 'commons') }}</th>
                <th>{{ 'tab.quantity'|trans({}, 'commons') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in contenu %}
                <tr>
                    <td><img src="{{ asset('uploads/' ~ produit.produit.Photo) }}" alt="logo du produit" width="100px"
                             height="100px"></td>
                    <td>{{ produit.produit.nom }}</td>
                    <td>{{ produit.produit.prix }}€</td>
                    <td>{{ produit.quantite }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>{{ 'cart_content.empty'|trans }}</p>
    {% endif %}
{% endblock %}
