{% extends 'base.html.twig' %}
{% trans_default_domain 'user' %}

{% block title %}{{ 'edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit'|trans }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'btn.update'|trans({}, 'commons')}) }}

    <a href="{{ path('app_user_index') }}">{{ 'btn.back'|trans({}, 'commons') }}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
