{% extends 'base.html.twig' %}
{% trans_default_domain 'user' %}

{% block title %}{{ 'new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new'|trans }}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">{{ 'btn.back'|trans({}, 'commons') }}</a>
{% endblock %}
